<!-- Plantilla principal de la aplicación con navegación y área de contenido dinámico -->
<nav>
  <a routerLink="/restaurants" routerLinkActive="active">Restaurantes</a>
  <a routerLink="/zones" routerLinkActive="active">Zonas</a>
  <a routerLink="/tables" routerLinkActive="active">Mesas</a>
  <a routerLink="/zone-schedules" routerLinkActive="active">Horarios</a>
  <a routerLink="/reservations/new" routerLinkActive="active">Nueva Reserva</a>
  <a routerLink="/reservations" routerLinkActive="active">Listado Reservas</a>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>